# Java
target/
*.class

# Gradle
.gradle/
build/

# Maven Wrapper Logs
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log

# Ansible
*.retry

# Logs
logs/
*.log

# Environment
.env
.env.*

# Sonar
.scannerwork/

# Jenkins
.jenkins/

# Docker
*.pid
